{% extends 'clubm8web/base.html' %}

{% block title %}Clubm8 Index{% endblock %}

{% block content %}

<h1>Slots</h1>

{% if object_list|length %}
  {% for slot in object_list %}
    <div class="row">
      <div class="col-lg-12">
        <h4>Woche vom {{ slot.start }}: {{ slot.plan.name }}</h4>

        {% if slot.plan.occurence.all|length %}
          {% for occurence in slot.plan.occurence.all|dictsort:"weekday" %}
            <div class="row event">
              <div class="col-lg-12">{{ occurence.weekday_str }}: {{ occurence.event.name }} @ {{ occurence.event.location }} # {{ occurence.start }}</div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% else %}
  <p>NO SLOTS FOUND YO</p>
{% endif %}

{% endblock %}
