{% extends 'clubm8web/base.html' %}

{% block title %}Clubm8 News{% endblock %}

{% block content %}

<h1>NEWS</h1>
{% if object_list|length %}
    {% for news in object_list|dictsortreversed:"date" %}
    <div class="row">
      <div class="col-lg-12">
        <h2>{{ news.title }}</h2>
        <p class="text-muted">{{ news.author }}, {{ news.date }} - {{ news.time }}</p>
        <p>{{ news.text|linebreaksbr }}</p>
      </div>
    </div>
    {% endfor %}
{% else %}
  <p>NO NEWS FOUND YO</p>
{% endif %}

{% endblock %}
