{% extends 'clubm8web/base.html' %}

{% block title %}Clubm8 News{% endblock %}

{% block content %}

<h1>Spezial-Events</h1>
{% if object_list|length %}
{% for special in object_list|dictsort:"date" %}
<div class="row">
  <div class="col-lg-12">
    <h2>{{ special.date }}</h2>

    {% if special.occurence %}
      <div class="row event">
        <div class="col-lg-12">
          <span class="name">{{ special.occurence.event.name }}</span> ({{ special.occurence.event.location }}, {{ special.occurence.start }})
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endfor %}
{% else %}
  <p>NO EVENTS FOUND YO</p>
{% endif %}

{% endblock %}
